<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">   
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Signed in!</p>
        <form class="formAll">
            <button>Logout from all sessions</button>
        </form>
        <br>
        <form class="formOne">
            <button>Logout from this session</button>
        </form>
        <br>
        <p class="message1"></p>
    </div>

    {{>footer}}

    <script src="/js/logout.js"></script>
</body>

</html>