<!DOCTYPE html>

<html>

<head>
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 

</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input class="id_input" placeholder="ID">
            <input class="pass_input" placeholder="Password">
            <button>Sign up</button>
        </form>
        <p class="message-1"></p>
    </div>

    {{>footer}}
    
    <script src="/js/signup.js"></script>
</body>

</html>